



.card{
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
}

label{
  width: max-content;
  border-bottom: 0.5px solid #ff7675;
  font-size: 13px;
  color: #ff7675;
  margin: 3px 0;
}

.desc{
   font-size: 14px;
   color: #b2bec3;
   cursor: pointer;
}
.star{
  color: #fbc531;
  cursor: pointer;
}
.place{
  color: #2d3436;
  cursor: pointer;
}

.username{
  font-size: 14px;
  cursor: pointer;
}

.date{
  font-size: 12px;
  cursor: pointer;
}


form{
 width: 250px;
 height: 250px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

input,textarea{
   border: none;
   border-bottom: 1px solid #636e72;
}
input:focus{
  outline: none;
}



input::placeholder, text::placeholder{
  font-size: 12px;
  color: rgb(199, 198, 198);
}

.submitButton{
   border: none;
   padding: 5px;
   border-radius: 5px;
   color: #fff;
   background: #ff7675;
   cursor: pointer;
}

button{
     border: none;
     padding: 5px;
     border-radius: 5px;
     color: #fff;
     cursor: pointer;
}

.logout{
   background-color: #ff7675;
}

.login{
  margin-right: 10px;
 background-color: #00b894;
}

.register{
  background-color: slateblue;
}

.buttons, .logout{
  position: absolute;
  top: 10px;
  right: 10px;
}